<div class="border-bottom row align-items-end" style="margin-bottom: 16px; padding-bottom: 8px;"> 
  <h2>{{ job.title }}</h2>
  <div class="col-11"> 
  
    <p> <b>Location: </b>{{ job.location }}</p>
    <p><b>Description: </b>{{ job.description }}</p>
  </div> 
  <div class="col-1">
  <a href="mailto:hello@hello.com?subject=Application%20to%{{ job.title }}&body=Your%20name%3A%3C%3E%0D%0A%0D%0AYour%20role%3A%3C%3E%0D%0A%0D%0AYour%20resume%20link%3A%20%3C%3E" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>